# API server
PORT=3000

# Network root — absolute path to the network/ directory
NETWORK_DIR=/H/hyperledger/VoltRide-Network/network

# Identity to use for signing transactions
# Options: VoltRideMSP | BatteryMSP | MotorMSP | ChassisMSP
ORG_MSP_ID=VoltRideMSP
ORG_DOMAIN=voltride.veritaschain.com
PEER_ADDRESS=localhost:11051
USER_NAME=Admin
